# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log

# Database
*.sql
*.sqlite
*.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db